.row > div.col-xs-3 > ul.nav > li > a:hover {
    background-color: slategray;
}

.row > div.col-xs-3 > ul.nav > li > a:active {
    background-color: blue;
}

.row > div.col-xs-3 > ul.nav > li {
    width: 220px;
    background-color: #181818;
    font-size: 22px;
}

.row > div.col-xs-3 > ul.nav > li > a > span {
    margin-right: 6%;
    margin-left: 20%;
}

.my_border{
    border-left: 0 dotted #9d9d9d;
    border-left-width: 1px;
    }

.my_border_r{
    border-right: 0 dotted #9d9d9d;
    border-right-width: 1px;

}

.a_uchun{
    color: #ffffff;
border-bottom: 0 solid #373737;
    border-bottom-width: 1px;
    border-top: 0 solid #777777;
    border-top-width: 1px;
}
.down_pading{
    padding-bottom: 40px;

}
.img_size{
    width: 60px;
    height: 50px;
}


.top-bar {
    padding-top: 10px;
    background: #071b52;
    border-bottom: 1px solid #050505;
}

.top-number{
    color: #fff;
}

.social-share > li {
    display: inline-block;
}

.social-share > li > a {
    display: inline-block;
    color: #fff;
    background: #050505;
    width: 25px;
    text-align: center;
    border-radius: 2px;
}

.social-share li a:hover {
    background: #0e37a6;

}


.navbar {
    border-radius: 0;
    background: #000000;
    padding: 15px;

}

.navbar-nav > li > a {

    border-radius: 3px;

}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover{
    background-color:  #0e37a6;

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover{
    background-color: #0e37a6;
}
 .top-mar{
     margin-top: 70px;
 }



