@(car: List[jadval])


@main("carlist") {

    @navbar()



    <div class="container main-content" style="padding-top: 60px">

        <h1 class="text-center">Cars Table</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>t/r</th>
                    <th>nomi</th>
                    <th>modeli</th>
                </tr>
            </thead>
            <tbody>
            @for(bor <- car) {
                <tr>
                    <td>@bor.id</td>
                    <td>@bor.nomi</td>
                    <td>@bor.modeli</td>
                    <td>
                        <a href="@routes.Cars.remove(bor.id.get)">
                            <button class="btn btn-danger pull-right">Delete</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}