@(message: String)


@main("Avtopark.uz") {

    @navbar()

<div class="row container" style="margin-top: 80px">
    <div class="col-xs-3">
        <nav class="nav navbar navbar-inverse" style="height: 200px">
            <ul style="font-size: 26px" class="text" class="nav nav-pills">
                <li >
                    <a  href="#">Bosh sahifa</a>
                </li>
                <li>
                    <a href="@routes.carlist.cars()">AvtoRo'yhat</a>
                </li>
                <li>
                    <a href="#">Yangiliklar</a>
                </li>
            </ul>

        </nav>

   <div class="thumbnail" style="margin-top: 20px">
         <img  src="@routes.Assets.at("images/BMW.jpg")" class="img-thumbnail">

       <span class="text text-area">BMW avtomabili haqida yangi ma'lumotlar.Yangi modellari va</span>
       <button class="btn btn-default">Davomi..</button>
</div>
    </div>
    <div class="jumbotron col-xs-7 col-xs-offset-2" style="">
        <h1>Hali bu yerga ma'lumotlar yoziladi</h1>
    </div>
          </div>

}
