@(uzavto1: List[korxona])

@main("Home") {

    @navbar("listkorxona")

    <div class="main-content top-mar container">

        <h1 class="text-center">Cars Oficce Table.</h1>
        <table class="table " style="color: #0e37a6">
            <thead>
                <tr>
                    <th><b>Name</b></th>
                </tr>
            </thead>
            <tbody>
            @for(korxona1<- uzavto1) {
                <tr>
                    <td><b>@korxona1.name</b></td>
                    <td class="pull-right">
                        <a href="@routes.zavod.showEditForm(korxona1.id.get)">
                            <button class="btn btn-warning">Edit</button>
                        </a>
                        <a href="@routes.zavod.remove(korxona1.id.get)">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
