<nav class="navbar navbar-fixed-top navbar-inverse " style="height: 30px;" role="navigation">
  <div class="navbar-header">
    <span class="text-danger " style="margin-left: 30px;margin-top: 15px; font-size: 36px">
      <b>Avtopark.uz
    </b>
    </span>
     </div>
  <div>
   <div class="input-group pull-right " style="margin-top: 5px">
     <span>  <input type="email" class="input  form-control" style="right: auto; width: 200px;height: 40px;border-top-right-radius: 0px;" placeholder="Search...">

      <button class="btn btn-primary" style="height: 40px; width: 60px;border-bottom-left-radius: 0px;">ok</button></span>

   </div>

  </div>
</nav>