@(name: String)


<header class="navbar-fixed-top">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="top-number">
                        <p><i class="fa fa-phone-square"></i> +998941415951</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <!--/.container-->
    </div>
        <!--/.top-bar-->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toglle="collapse" data-target=".navbar-collapse" >
                    <span class="icon-bar"></span>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-header">
                    <img src="@routes.Assets.at("images/webtext.jpg")">
                </a>
            </div>
            <div class="collapse navbar-right navbar-collapse">
                <ul class="navbar-nav nav">
                    <li class="@if(name=="home"){active}">
                        <a href="@routes.Application.index()" >
                            <b>
                                Home
                            </b>
                        </a>

                    </li>
                    <li class="@if(name=="carlist"){active}">
                        <a href="@routes.Cars.list()">
                            <b>CarList</b>
                        </a>
                    </li>
                    <li class="@if(name=="addcars"){active}">
                        <a href="@routes.Cars.addcars()">
                            <b>CarRegist</b>
                        </a>
                    </li>
                    <li class="@if(name=="carservice"){active}">
                        <a href="#">
                            <b>CarService</b>
                        </a>
                    </li>
                    <li class="@if(name=="news"){active}">
                        <a href="@routes.Application.news()">
                            <b>CarNews</b>
                        </a>
                    </li>
                    <li >
                        <a href="@routes.zavod.add()">
                            <b>CarOficceAdd</b>
                                </a>
                    </li>
                    <li >
                        <a href="@routes.zavod.list()">
                            <b>CarOficceList</b>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>
</header>