@()

@main("news") {
    @navbar()
    <div class="container">
     <div style="padding-top: 70px" class="row">
        <div  class="text col-xs-offset-2 col-xs-8" >
            <div style="background-color: #a8a5a7" class="thumbnail">
                            <h1 class="text-center" style="background-color: #737373">Chevrolet yangi Camaro sportkarining dvigateli ovozini taqdim etdi</h1>
                                <p class="text-left glyphicon glyphicon-calendar">11:28, 17.03.2015 </p>
                <hr>
                <div class="row">
                <div class="col-xs-4">
                <img src="@routes.Assets.at("images/new1.png")" class="img-rounded">
                </div>
                <div class="col-xs-7 col-xs-offset-1">
                    Yanvar oyida chiqarilgan ba’zi tafsilotlarga ko‘ra, modelning dizayni deyarli o‘zgarmasligi ma’lum bo‘lgan ...
                    <p><button class="btn btn-primary"> Davomi..</button></p>
                </div>
                    </div>
                <hr>

                <h1 class="text-center" style="background-color: #737373">Avtokross bo‘yicha O‘zbekiston chempionatida Toshkent shahri jamoasi birinchi o‘rinni egalladi</h1>
                <p class="text-left glyphicon glyphicon-calendar">20:52, 16.03.2015   </p>
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="@routes.Assets.at("images/new2.png")" class="img-rounded">
                    </div>
                    <div class="col-xs-7 col-xs-offset-1">
                        Bahslar yakunida kuchli uchlikka kirgan O‘zbekiston chempionati ishtirokchilariga esdalik sovg‘alari topshirildi ...
                        <p><button class="btn btn-primary"> Davomi..</button></p>
                    </div>
                </div>
                <h1 class="text-center" style="background-color: #737373">Slovakiya kompaniyasining uchar avtomobili 2017-yildan seriyali ishlab chiqarila boshlaydi</h1>
                <p class="text-left glyphicon glyphicon-calendar">12:28, 17.03.2015 </p>
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="@routes.Assets.at("images/new3.png")" class="img-rounded">
                    </div>
                    <div class="col-xs-7 col-xs-offset-1">
                        Yangi avtomobilning narxi bir necha yuz ming yevrodan kam bo‘lmasligi taxmin etilmoqda ...
                        <p><button class="btn btn-primary"> Davomi..</button></p>
                    </div>
                </div>
                <h1 class="text-center" style="background-color: #737373">“Uz-Dong Von Ko.” QK Aveo qismlarini ishlab chiqarishni o‘zlashtiradi</h1>
                <p class="text-left glyphicon glyphicon-calendar">09:10, 14.03.2015 </p>
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="@routes.Assets.at("images/new4.png")" class="img-rounded">
                    </div>
                    <div class="col-xs-7 col-xs-offset-1">
                        Ushbu qismlar chiqarish tizimi, asboblar paneli tayanchining ko‘ndalang kronshteyni, zarbga qarshi eshik to‘sinlari va bamperning zarbga qarshi to‘sinlaridan iboratdir ...
                        <p><button class="btn btn-primary"> Davomi..</button></p>
                    </div>
                    </div>
                </div>
    </div>
</div>
</div>
}