@(korxona: jadval, uzavto: List[korxona] )

@main("Edit") {

    @navbar("add")

    <div class="container main-content top-mar" style="color: #ffffff">
        <h2 class="text-center">Edit Cars</h2>
        <form class="@routes.Cars.update(korxona.id.get)" method="post">
            <div class="form-group">
                <label for="inp-name">Nomi</label>
                <input type="text" class="form-control" id="inp-name"
                name="name" value="@korxona.nomi">
            </div>
            <div class="form-group">
                <label for="inp-desc">Modeli</label>
                <textarea type="text" class="form-control" id="inp-desc"
                name="description">@korxona.modeli</textarea>
            </div>
            <div class="form-group">
                <label for="inp-country">Korxonasi</label>
                <select name="country" class="form-control" id="inp-country">
                @for(korxonasi <- uzavto) {
                    <option value="@korxonasi.id">@korxonasi.name</option>
                }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}
